# lighting config file

# KEY LIGHT
# ambient
0.0 0.0 0.0 0.0
# diffuse
1.5 1.5 1.5 0.0
# specular
2.25 2.25 2.25 0.0
# position
2.0 2.0 0.0 1.0
# exponent
0.1
# cutoff
180.0
# constant attenuation
1.0
# linear attenuation
0.2
# quadratic attenuation
0.01

# FILL LIGHT
# ambient
0.0 0.0 0.0 0.0
# diffuse
1.5 1.5 1.5 0.0
# specular
2.25 2.25 2.25 0.0
# position
0.0 2.0 2.0 1.0
# exponent
0.1
# cutoff
180.0
# constant attenuation
1.0
# linear attenuation
0.2
# quadratic attenuation
0.01

# BACK LIGHT
# ambient
0.0 0.0 0.0 0.0
# diffuse
1.5 1.5 1.5 0.0
# specular
2.25 2.25 2.25 0.0
# position
-2.0 2.0 -2.0 1.0
# exponent
0.1
# cutoff
180.0
# constant attenuation
1.0
# linear attenuation
0.2
# quadratic attenuation
0.01
